<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @attribute.id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @attribute.title %>
</p>

<%= link_to 'Edit', edit_attribute_path(@attribute) %> |
<%= link_to 'Back', attributes_path %>
